[Unit]
Description=syncthing

[Service]
Environment="HOME=/home/root"
ExecStart=/opt/bin/syncthing serve --no-browser --no-restart
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
